<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/fichas/inseriratividade}" method="post" th:object="${ficha}">
		<input type="hidden" th:field="*{aluno}">
		<input type="hidden" th:field="*{orientador}">
		<input type="hidden" th:field="*{curso}">
		<input type="hidden" th:field="*{tituloTrabalho}">
		<label for="data">Data:</label>
		<input type="text" id="data" name="data" th:value="${atividade.data}">
		<br>
		<label for="minutos">Minutos:</label>
		<input type="text" id="minutos" name="minutos" th:value="${atividade.minutos}">
		<br>
		<label for="resumo">Resumo:</label>
		<input type="text" id="resumo" name="resumo" th:value="${atividade.resumo}">
		<br>
		<input type="submit" value="Inserir Atividade">
		<div th:each="atividade : *{atividades}">
			<input type="hidden" th:name="atividades[__${atividadeStat.index}__].data" th:value="${atividade.data}">
			<input type="hidden" th:name="atividades[__${atividadeStat.index}__].minutos" th:value="${atividade.minutos}">
			<input type="hidden" th:name="atividades[__${atividadeStat.index}__].resumo" th:value="${atividade.resumo}" />
		</div>
	</form>
</body>
</html>