<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Página Principal</title>
</head>
<body>
<!-- conteudo principal -->
<main layout:fragment="conteudo" id="main" class="flex flex-col align-middle justify-center w-full">
    <h1 class="text-2xl md:text-4xl text-center">Bem vindo ao Sistema de Controle de Aplicações de Vacinas</h1>
    <img th:src="@{/images/ze-gotinha.jpg}" class="mt-10 mx-auto block" alt="Zé Gotinha"/>
</main>
<!-- !conteudo principal -->

<!-- Nao usamos
<th:block layout:fragment="scripts">
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</th:block> -->
</body>
</html>
