<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Vacinas</title>
</head>
<body>
<!-- conteudo principal -->
<main layout:fragment="conteudo" th:fragment="texto" id="main"
      class="flex flex-col items-center justify-center w-full px-4 py-8">
    <div class="w-full max-w-4xl mx-auto text-center">
        <h1 class="text-2xl md:text-4xl text-center" th:text="${mensagem}"></h1>
    </div>
</main>
<!-- !conteudo principal -->

<!-- Nao usamos
<th:block layout:fragment="scripts">
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</th:block> -->
</body>
</html>
