<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Página Principal</title>
  </head>
  <body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="texto" id="main" class="flex flex-col w-full">
        <h1 th:text="${mensagem}" class="text-3xl mt-10 ml-10">Mensagem</h1>
    </main>
    <!-- !conteudo principal -->
  </body>
</html>
