<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Página de Erro 500</title>
</head>
<body>
<!-- conteudo principal -->
<main layout:fragment="conteudo" id="main" class="flex flex-col align-middle justify-center w-full">
    <img th:src="@{/images/500.png}" class="mx-auto block mt-5" alt="Erro 500"/>
    <h3 class="text-center mt-5 mb-5">Ocorreu um erro interno no servidor. <a th:href="@{/}">Volte para a página
        principal.</a></h3>
</main>
<!-- !conteudo principal -->
</body>
</html>
