<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Vacinas</title>
</head>
<body>
<!-- conteudo principal -->
<main layout:fragment="conteudo" th:fragment="confirmacao" id="main"
      class="flex flex-col items-center justify-center w-full px-4 py-8">
    <div class="w-full max-w-4xl mx-auto text-center space-y-6">
        <h1 class="text-2xl md:text-4xl text-center">Tem certeza que deseja remover a vacina?</h1>
        <h2 class="text-lg md:text-2xl text-center">Código: <span th:text="${vacina.codigo}"></span></h2>
        <h2 class="text-lg md:text-2xl text-center">Nome: <span th:text="${vacina.nome}"></span></h2>
        <h2 class="text-lg md:text-2xl text-center">Descrição: <span th:text="${vacina.descricao}"></span></h2>

        <!-- Formulários de Ação -->
        <div class="flex justify-center space-x-4 mt-6">
            <!-- Formulário para "Remover" -->
            <form th:hx-post="@{/vacinas/remover}" hx-target="#main" hx-swap="outerHTML">
                <input type="hidden" name="codigo" th:value="${vacina.codigo}">
                <input type="hidden" name="nome" th:value="${vacina.nome}">
                <input type="hidden" name="descricao" th:value="${vacina.descricao}">
                <button type="submit"
                        class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:outline-none focus:bg-red-200 disabled:opacity-50 disabled:pointer-events-none">
                    Remover
                </button>
            </form>

            <!-- Formulário para "Voltar" -->
            <form th:hx-get="@{/vacinas/pesquisar}" hx-target="#main" hx-swap="outerHTML">
                <button type="submit"
                        class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">
                    Voltar
                </button>
            </form>
        </div>
    </div>
</main>
<!-- !conteudo principal -->

<!-- Nao usamos
<th:block layout:fragment="scripts">
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</th:block> -->
</body>
</html>
