<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Controle de Vacinação</title>
    <link rel="shortcut icon" th:href="@{/images/logo.png}"/>
    <!-- Bootstrap Icons -->
    <!--    <link rel="stylesheet" type="text/css" href="../../static/css/vendors/bootstrap5/bootstrap-icons.css"-->
    <!--          th:href="@{/css/vendors/bootstrap5/bootstrap-icons.css}"/>-->
    <!-- Estilo Principal do Template -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <!-- Biblioteca Alpine.js usada no Menu -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
            integrity="sha256-NY2a+7GrW++i9IBhowd25bzXcH9BCmBrqYX5i8OxwDQ=" crossorigin="anonymous"></script>
    <!-- Biblioteca htmx -->
    <script defer src="../../static/js/vendors/htmx/htmx.min.js" th:src="@{/js/vendors/htmx/htmx.min.js}"></script>
    <!-- Script para controle do Menu -->
    <script src="../../static/js/scriptmenus.js" th:src="@{js/scriptmenus.js}" defer></script>
</head>
<body>
<!-- Container da página -->
<div class="container flex h-screen min-w-full flex-col">
    <!-- Navbar da pagina TOPO -->
    <div th:replace="~{layout/fragments/header :: header}"></div>

    <!-- Meio -->
    <section class="flex flex-1">
        <!-- Menu lateral ESQUERDA -->
        <div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

        <!-- Conteudo Principal da pagina -->
        <th:block layout:fragment="conteudo"></th:block>
    </section>

    <!-- Rodape da pagina BAIXO -->
    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>
</div>

<!-- Bloco para JavaScript adicional que a página pode precisar -->
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
