<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Controle de Aluguéis</title>
  </head>
  <body>
    <!-- CSRF -->
    <div th:fragment="csrf">
      <input type="hidden" th:if="${_csrf != null}" name="csrf-token" th:value="${_csrf.token}" />
      <input type="hidden" th:if="${_csrf != null}" name="csrf-header" th:value="${_csrf.headerName}" />
    </div>
  </body>
</html>
