<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Controle de Vacinação</title>
  </head>
  <body>
    <div th:fragment="header">
      <!-- Header -->
      <header class="flex items-center justify-between bg-gray-800 p-4">
        <!-- Botao Hamburger -->
        <div class="md:hidden">
          <button id="menu-btn" type="button" class="hamburger z-40 block focus:outline-none md:hidden">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>

        <!-- Icone e nome sistema -->
        <div class="flex items-center">
          <a th:href="@{/}" class="flex">
            <img src="/images/syringe.png" alt="Ícone de uma seringa" class="h-8 w-8 md:h-12 md:w-12" />
            <div class="text-xl font-semibold text-gray-400 md:text-3xl">Controle de Vacinação</div>
          </a>
        </div>

        <!-- Usuário e login/logout -->
 

        <!-- Botao Usuario -->
     
      </header>

      <!-- Mobile Menu -->
      <div id="menu" class="absolute bottom-0 left-0 top-0 hidden min-h-screen w-full flex-col space-y-3 self-end bg-gray-800 py-1 pl-12 pt-40 text-lg text-gray-400">
        <th:block th:replace="~{layout/fragments/menu :: menu}"></th:block>
      </div>

      <!-- Mobile Menu Usuario -->
    
    </div>
  </body>
</html>
