<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Controle de Vacinação</title>
  </head>
  <body>
    <!-- Rodape -->
    <footer th:fragment="rodape" class="flex h-10 items-center justify-center bg-gray-800 text-gray-400 md:h-20">
      <span>&copy; Web IFTM</span>
    </footer>
  </body>
</html>
