<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Cadastro de Vacina</title>
  </head>
  <body>
    <!-- conteudo principal -->
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="w-full">
      <div class="m-10">
        <h1 class="text-3xl">Cadastro de Vacina</h1>
        <!-- Formulario -->
        <form th:hx-post="@{/vacinas/nova}" hx-target="#main" hx-swap="outerHTML" th:object="${vacina}">
          <div th:replace="~{layout/fragments/forms::inputtext ('Nome', 'nome')}">...</div>
          <div th:replace="~{layout/fragments/forms::inputtext ('Descrição', 'descricao')}">...</div>
          <br />
          <button type="submit" class="py-3 px-4 inline-flex items-center mt-5 gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Cadastrar</button>
        </form>
        <div th:if="${notificacao != null}" th:object="${notificacao}">
          <input type="hidden" id="mensagem" th:value="*{mensagem}">
          <input type="hidden" id="tipo" th:value="*{tipo}">
          <input type="hidden" id="intervalo" th:value="*{intervalo}">
        </div>
      </div>
    </main>
    <!-- !conteudo principal -->
  </body>
</html>
