<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Spring MVC com Spring Boot</title>
<style>
ul {
	list-style-type: none;
}
</style>
</head>
<body>
	<h1>Produto</h1>

	<p>
		Nome:
		<span th:text="${produto.nome}"></span>
	</p>
	<p>
		Desativado:
		<span th:text="${produto.desativado}"></span>
	</p>
	<p>
		Características:
		<span th:each="c : ${produto.caracteristicas}" th:text="${c.descricao}"></span>
	</p>
	<p>
		Tipo:
		<span th:text="${produto.tipo.descricao}"></span>
	</p>
	<p>
		Fornecedor:
		<span th:text="${produto.fornecedor.nome}"></span>
	</p>

	<hr>

	<form th:object="${produto}">
		<p>
			<label for="nome">Nome:</label>
			<input type="text" th:field="*{nome}">
		</p>
		<p>
			<input type="checkbox" th:field="*{desativado}">
			<label th:for="${#ids.prev('desativado')}">Desativado</label>
		</p>

		<fieldset>
			<legend>Características</legend>
			<ul>
				<li th:each="c : ${todasCaracteristicas}">
					<input type="checkbox" th:field="*{caracteristicas}" th:value="${c}" />
					<label th:for="${#ids.prev('caracteristicas')}" th:text="${c.descricao}">Garantia de Loja</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Tipo</legend>
			<ul>
				<li th:each="t : ${todosTipos}">
					<input type="radio" th:field="*{tipo}" th:value="${t}" />
					<label th:for="${#ids.prev('tipo')}" th:text="${t.descricao}">Perecível</label>
				</li>
			</ul>
		</fieldset>
		<label th:for="${#ids.next('fornecedor')}">Fornecedor:</label>
		<select th:field="*{fornecedor}">
			<option th:each="f : ${fornecedores}" th:value="${f.codigo}" th:text="${f.nome}">Fornecedor X</option>
		</select>
	</form>
	<hr>
	<a th:href="@{/}">Voltar</a>
</body>
</html>